numpy               # Added by admin, required for general purpose numerical computation
tqdm                # Added by admin, required for general purpose
requests            # Added by admin, required for general purpose
metis               # Added by admin, required for graph partitioning
torch-scatter       # Added by admin, required for SPMM
torch-sparse        # Added by admin, required for SPMM

